@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";


html,
body,
.intro {
    height: 100%;
    width: 40%;
}

.lead {
    background:
        linear-gradient(to right, #ff76b4 0%, #66f1ff 51%, #ff76b4 100%);
    background-size: 100% 2px;
    background-position: bottom 0 left 0, bottom 5px left 0;
    background-repeat: no-repeat;
}

table td,
table th {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    justify-content: center;
}

thead th,
tbody th {
    color: #fff;
}

tbody td {
    font-weight: 500;
    color: rgba(255, 255, 255, .65);
}

tbody tr {
    border-bottom: rgba(255, 255, 255, .65) solid 1px;
    padding-bottom: 5px;
}

.card {
    border-radius: .5rem;
}

.container {
    margin-top: 50px
}


.btn-grad {
    background-image: linear-gradient(to right, #ff76b4 0%, #66f1ff 51%, #ff76b4 100%)
}

.btn-grad {
    padding: 8px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #262626;
    box-shadow: 0 0 20px #262626;
    border-radius: 10px;
    display: block;
    outline: none;
    border-color: #262626;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.form-white {
    margin-bottom: 5px;
}

.form-control {
    margin-bottom: 10px;
}